
/*seccion header y nav*/
*{
    box-sizing: border-box;
}

header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color:transparent;
    align-items: center;
    padding: 10px;
    border: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: beige;
    background-image: url("fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600px;
    padding-right: 10px;
}
nav a:hover{
    color: rgb(238, 122, 45);
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px;
        align-items: center;
    }
}

/*seccion formulario*/

.form-presupuestos{
    width: 600px;
    background-color: rgba(185, 240, 241, 0.178);
    padding: 30px;
    margin: auto;
    margin-top: 0;
    border-radius: 4px;
    font-family: 'Roboto';
    color: black;
    align-items: center;
}
.form-presupuestos h4{
    font-family: 'Roboto' sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 5px;
}

.controls {
    width: 500px;
    background: rgba(146, 238, 177, 0.178);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 25px;
    border: 1px solid rgb(1, 26, 11);
    font-size: 20px;
    text-align: center;      
}
.boton{
    height: 35px;
    margin-bottom: 4px;
    margin-top: 10px;
    max-width: 300px;
    margin-left: 220px;
    margin-right: 220px;
    font-family: 'Roboto' sans-serif;
}
