@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;   
    z-index: 1;
}

/*seccion header encabezado */

.header__superior{
max-width: 1200px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

.subtitulo{
    font-size: 20px;
    color: rgb(248, 140, 40);
    font-style: italic;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

/*--barra menu*/

.contenedor__menu{
    width: 100%;
    height: 70px;
    background-color: rgb(248, 140, 40);
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
    list-style: none;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic;
    transition: all 300ms ease;   
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: rgba(248, 151, 25, 0.986);
    box-shadow: 0px 0px 10px 0px; color: white;
    border-radius: 4px;
}

/*Seccion responsive*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

/*Seccion formulario en Presupuesto*/

.formulario-consulta {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:transparent;
    border-radius: 5px;
  }
  
 .formulario-consulta form{
    margin-top: 210px;
 }
  
  .formulario-consulta div {
    margin-bottom: 20px;
  }
  
  .formulario-consulta label {
    display: block;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .formulario-consulta input,
  .formulario-consulta textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .formulario-consulta input[type="submit"] {
    background-color: rgb(248, 140, 40);
    color: #f89513c7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .formulario-consulta input[type="submit"]:hover {
    background-color: #f1540b;
  }
  


@media screen and (max-width: 720px) {

    body{
        background-image: url(fondo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__superior{
        padding: 10px;
    }

    .logo img {
        width: 80px;
    }
   
    .subtitulo{
        display: none;
    }

    nav > ul{
        flex-direction: column;
        background-color: rgba(255, 184, 90, 0.719);
        position: fixed;
        left: 0;
        top: 155;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;    
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    .fa-bars {
        font-size: 50px;
        padding-top: 10px;
      }

    .formulario-consulta form{
        margin-top: 160px;
    }   
      

    .formulario-consulta div{
        align-items: center center;    
    }

    .formulario-consulta label{
        align-items: center;
        text-align: center;
        color: white;
        text-shadow: #f1540b 1px;
    }
}